### Beijing

###### Read Data

In [1]:
import pandas as pd
BJ=pd.read_csv('BeijingPM20100101_20151231.csv')  
BJ.head(5)

,No,year,month,day,hour,season,PM_Dongsi,PM_Dongsihuan,PM_Nongzhanguan,PM_US Post,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4,NaN,NaN,NaN,NaN,-21.0,43.0,1021.0,-11.0,NW,1.79,0.0,0.0
1,2,2010,1,1,1,4,NaN,NaN,NaN,NaN,-21.0,47.0,1020.0,-12.0,NW,4.92,0.0,0.0
2,3,2010,1,1,2,4,NaN,NaN,NaN,NaN,-21.0,43.0,1019.0,-11.0,NW,6.71,0.0,0.0
3,4,2010,1,1,3,4,NaN,NaN,NaN,NaN,-21.0,55.0,1019.0,-14.0,NW,9.84,0.0,0.0
4,5,2010,1,1,4,4,NaN,NaN,NaN,NaN,-20.0,51.0,1018.0,-12.0,NW,12.97,0.0,0.0

In [2]:
# Drop column
BJ.drop(['PM_Dongsi'], axis=1, inplace=True)

In [3]:
# import os
# os.remove('PM2.5.csv')

In [4]:
# def label to change season numerical representer to char
def label (row):
    if row['season'] == 1 :
        return 'Spring'
    elif row['season'] == 2 :
        return 'Summer'
    elif row['season'] == 3 :
        return 'Fall'
    else:
        return 'Winter'

In [5]:
BJ['Season'] = BJ.apply (lambda row: label(row), axis=1)

In [6]:
# Add city column
BJ['City']="Beijing"

In [7]:
BJ.iloc[18000:18005]

,No,year,month,day,hour,season,PM_Dongsihuan,PM_Nongzhanguan,PM_US Post,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec,Season,City
18000,18001,2012,1,21,0,4,NaN,NaN,10.0,-25.0,24.0,1038.0,-8.0,NE,131.42,0.0,0.0,Winter,Beijing
18001,18002,2012,1,21,1,4,NaN,NaN,10.0,-25.0,26.0,1038.0,-9.0,NE,138.57,0.0,0.0,Winter,Beijing
18002,18003,2012,1,21,2,4,NaN,NaN,11.0,-25.0,28.0,1039.0,-10.0,NE,145.72,0.0,0.0,Winter,Beijing
18003,18004,2012,1,21,3,4,NaN,NaN,11.0,-25.0,28.0,1039.0,-10.0,NE,152.87,0.0,0.0,Winter,Beijing
18004,18005,2012,1,21,4,4,NaN,NaN,9.0,-26.0,27.0,1038.0,-11.0,NE,158.68,0.0,0.0,Winter,Beijing

In [8]:
# Combine year month day hour. Fomrat to datetime
BJ['Time'] = BJ.year.map(str)+"/"+BJ.month.map(str)+"/"+BJ.day.map(str)+" "+BJ.hour.map(str)+":00"
#BJ.insert(5, 'Time', (BJ['year'])+(BJ['month'])+(BJ['day'])+(BJ['hour'])+":00"))
BJ['Time'] = pd.to_datetime(BJ['Time'], format='%Y/%m/%d %H:00')

In [9]:
print(BJ.dtypes)

No                          int64
year                        int64
month                       int64
day                         int64
hour                        int64
season                      int64
PM_Dongsihuan             float64
PM_Nongzhanguan           float64
PM_US Post                float64
DEWP                      float64
HUMI                      float64
PRES                      float64
TEMP                      float64
cbwd                       object
Iws                       float64
precipitation             float64
Iprec                     float64
Season                     object
City                       object
Time               datetime64[ns]
dtype: object

In [10]:
# Drop columns
BJ.drop(['No','year', 'month','day','hour','season'], axis=1, inplace=True)

In [11]:
# rename column to ensure all 5 files will in the end have the same column names
BJ.rename(columns={'PM_US Post':'PM_measurepoint1','PM_Dongsihuan':'PM_measurepoint2','PM_Nongzhanguan':'PM_measurepoint3'}, inplace=True)
BJ.tail(5)

,PM_measurepoint2,PM_measurepoint3,PM_measurepoint1,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec,Season,City,Time
52579,157.0,122.0,133.0,-8.0,68.0,1031.0,-3.0,SE,7.14,0.0,0.0,Winter,Beijing,2015-12-31 19:00:00
52580,199.0,149.0,169.0,-8.0,63.0,1030.0,-2.0,SE,8.03,0.0,0.0,Winter,Beijing,2015-12-31 20:00:00
52581,231.0,196.0,203.0,-10.0,73.0,1030.0,-6.0,NE,0.89,0.0,0.0,Winter,Beijing,2015-12-31 21:00:00
52582,242.0,221.0,212.0,-10.0,73.0,1030.0,-6.0,NE,1.78,0.0,0.0,Winter,Beijing,2015-12-31 22:00:00
52583,NaN,NaN,235.0,-9.0,79.0,1029.0,-6.0,NE,2.67,0.0,0.0,Winter,Beijing,2015-12-31 23:00:00

### Shanghai

In [12]:
SH=pd.read_csv('ShanghaiPM20100101_20151231.csv')
SH.head(5)

,No,year,month,day,hour,season,PM_Jingan,PM_US Post,PM_Xuhui,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4,NaN,NaN,NaN,-6.0,59.48,1026.1,1.0,cv,1.0,0.0,0.0
1,2,2010,1,1,1,4,NaN,NaN,NaN,-6.0,59.48,1025.1,1.0,SE,2.0,0.0,0.0
2,3,2010,1,1,2,4,NaN,NaN,NaN,-7.0,59.21,1025.1,0.0,SE,4.0,0.0,0.0
3,4,2010,1,1,3,4,NaN,NaN,NaN,-6.0,63.94,1024.0,0.0,SE,5.0,0.0,0.0
4,5,2010,1,1,4,4,NaN,NaN,NaN,-6.0,63.94,1023.0,0.0,SE,8.0,0.0,0.0

In [13]:
#SH.insert(9, 'Averge', (SH['PM_Jingan']+SH['PM_US Post']+SH['PM_Xuhui'])/3)
SH['Season'] = SH.apply (lambda row: label(row), axis=1)
SH['City']="Shanghai"
SH['Time'] = SH.year.map(str)+"/"+SH.month.map(str)+"/"+SH.day.map(str)+" "+SH.hour.map(str)+":00"
SH['Time'] = pd.to_datetime(SH['Time'], format='%Y/%m/%d %H:00')
SH.drop(['No','year', 'month','day','hour','season'], axis=1, inplace=True)
SH.rename(columns={'PM_Jingan':'PM_measurepoint1','PM_US Post':'PM_measurepoint2','PM_Xuhui':'PM_measurepoint3'}, inplace=True)
SH.tail(5)

,PM_measurepoint1,PM_measurepoint2,PM_measurepoint3,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec,Season,City,Time
52579,86.0,82.0,90.0,-1.0,65.13,1035.0,5.0,NE,15.0,0.0,0.0,Winter,Shanghai,2015-12-31 19:00:00
52580,83.0,93.0,86.0,1.0,70.27,1035.0,6.0,NE,19.0,0.0,0.0,Winter,Shanghai,2015-12-31 20:00:00
52581,85.0,90.0,95.0,1.0,70.27,1036.0,6.0,NE,22.0,0.0,0.0,Winter,Shanghai,2015-12-31 21:00:00
52582,83.0,86.0,92.0,0.0,70.06,1035.0,5.0,NE,25.0,0.0,0.0,Winter,Shanghai,2015-12-31 22:00:00
52583,NaN,77.0,NaN,0.0,70.06,1035.0,5.0,NE,27.0,0.0,0.0,Winter,Shanghai,2015-12-31 23:00:00

### Shenyang

In [14]:
SY=pd.read_csv('ShenyangPM20100101_20151231.csv')
SY.head(5)

,No,year,month,day,hour,season,PM_Taiyuanjie,PM_US Post,PM_Xiaoheyan,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4,NaN,NaN,NaN,-26.0,69.79,1024.0,-22.0,NE,1.0289,NaN,NaN
1,2,2010,1,1,1,4,NaN,NaN,NaN,-26.0,76.26,1024.0,-23.0,NE,2.5722,NaN,NaN
2,3,2010,1,1,2,4,NaN,NaN,NaN,-27.0,69.56,1023.0,-23.0,NE,5.1444,NaN,NaN
3,4,2010,1,1,3,4,NaN,NaN,NaN,-27.0,69.56,1023.0,-23.0,NE,7.7166,NaN,NaN
4,5,2010,1,1,4,4,NaN,NaN,NaN,-27.0,69.56,1022.0,-23.0,NE,9.7744,NaN,NaN

In [15]:
#SY.insert(9, 'Averge', (SY['PM_Taiyuanjie']+SY['PM_US Post']+SY['PM_Xiaoheyan'])/3)
SY['Season'] = SY.apply (lambda row: label(row), axis=1)
SY['City']="Shengyang"
SY['Time'] = SY.year.map(str)+"/"+SY.month.map(str)+"/"+SY.day.map(str)+" "+SY.hour.map(str)+":00"
SY['Time'] = pd.to_datetime(SY['Time'], format='%Y/%m/%d %H:00')
SY.drop(['No','year', 'month','day','hour','season'], axis=1, inplace=True)
SY.rename(columns={'PM_Taiyuanjie':'PM_measurepoint1','PM_US Post':'PM_measurepoint2','PM_Xiaoheyan':'PM_measurepoint3'}, inplace=True)
SY.tail(5)

,PM_measurepoint1,PM_measurepoint2,PM_measurepoint3,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec,Season,City,Time
52579,162.0,166.0,435.0,-10.0,92.42,1031.0,-9.0,SE,2.0,0.0,0.0,Winter,Shengyang,2015-12-31 19:00:00
52580,255.0,259.0,429.0,-10.0,79.10,1030.0,-7.0,SE,5.0,0.0,0.0,Winter,Shengyang,2015-12-31 20:00:00
52581,266.0,368.0,361.0,-10.0,79.10,1030.0,-7.0,SE,8.0,0.0,0.0,Winter,Shengyang,2015-12-31 21:00:00
52582,202.0,319.0,342.0,-10.0,79.10,1028.0,-7.0,SE,11.0,NaN,NaN,Winter,Shengyang,2015-12-31 22:00:00
52583,NaN,275.0,NaN,-9.0,79.26,1028.0,-6.0,SE,12.0,0.0,0.0,Winter,Shengyang,2015-12-31 23:00:00

### Guangzhou

In [16]:
GZ=pd.read_csv('GuangzhouPM20100101_20151231.csv')
GZ.head(5)

,No,year,month,day,hour,season,PM_City Station,PM_5th Middle School,PM_US Post,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4.0,NaN,NaN,NaN,9.4,76.0,1015.1,13.5,NW,0.8,0.0,0.0
1,2,2010,1,1,1,4.0,NaN,NaN,NaN,10.2,83.0,1015.2,13.0,cv,0.5,0.0,0.0
2,3,2010,1,1,2,4.0,NaN,NaN,NaN,10.4,87.0,1015.0,12.5,NW,0.6,0.3,0.3
3,4,2010,1,1,3,4.0,NaN,NaN,NaN,10.2,89.0,1014.9,12.0,NW,1.4,0.6,0.9
4,5,2010,1,1,4,4.0,NaN,NaN,NaN,10.4,91.0,1014.6,11.8,NE,0.6,0.7,1.6

In [17]:
#GZ.insert(9, 'Averge', (GZ['PM_City Station']+GZ['PM_5th Middle School']+GZ['PM_US Post'])/3)
GZ['Season'] = GZ.apply (lambda row: label(row), axis=1)
GZ['City']="Guangzhou"
GZ['Time'] = GZ.year.map(str)+"/"+GZ.month.map(str)+"/"+GZ.day.map(str)+" "+GZ.hour.map(str)+":00"
GZ['Time'] = pd.to_datetime(GZ['Time'], format='%Y/%m/%d %H:00')
GZ.drop(['No','year', 'month','day','hour','season'], axis=1, inplace=True)
GZ.rename(columns={'PM_City Station':'PM_measurepoint1','PM_5th Middle School':'PM_measurepoint2','PM_US Post':'PM_measurepoint3'}, inplace=True)
GZ.tail(5)

,PM_measurepoint1,PM_measurepoint2,PM_measurepoint3,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec,Season,City,Time
52579,59.0,56.0,59.0,11.0,80.0,1018.299988,14.4,NW,10.9,0.0,0.0,Winter,Guangzhou,2015-12-31 19:00:00
52580,58.0,57.0,58.0,11.4,82.0,1018.700012,14.5,NW,12.9,0.0,0.0,Winter,Guangzhou,2015-12-31 20:00:00
52581,60.0,56.0,60.0,11.1,78.0,1019.300000,14.9,NW,14.7,0.0,0.0,Winter,Guangzhou,2015-12-31 21:00:00
52582,60.0,57.0,60.0,10.4,75.0,1019.500000,14.8,NW,15.9,0.0,0.0,Winter,Guangzhou,2015-12-31 22:00:00
52583,63.0,NaN,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Winter,Guangzhou,2015-12-31 23:00:00

### Chengdu

In [18]:
CD=pd.read_csv('ChengduPM20100101_20151231.csv')
CD.head(5)

,No,year,month,day,hour,season,PM_Caotangsi,PM_Shahepu,PM_US Post,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4,NaN,NaN,NaN,4.0,81.20,1022.0,7.0,cv,1.0,0.0,0.0
1,2,2010,1,1,1,4,NaN,NaN,NaN,4.0,86.99,1022.0,6.0,cv,1.0,0.0,0.0
2,3,2010,1,1,2,4,NaN,NaN,NaN,4.0,86.99,1021.0,6.0,cv,1.0,0.0,0.0
3,4,2010,1,1,3,4,NaN,NaN,NaN,3.0,86.89,1021.0,5.0,cv,1.0,0.0,0.0
4,5,2010,1,1,4,4,NaN,NaN,NaN,2.0,86.79,1021.0,4.0,cv,1.0,0.0,0.0

In [19]:
#CD.insert(9, 'Averge', (CD['PM_Caotangsi']+CD['PM_Shahepu']+CD['PM_US Post'])/3)
CD['Season'] = CD.apply (lambda row: label(row), axis=1)
CD['City']="Chengdu"
CD['Time'] = CD.year.map(str)+"/"+CD.month.map(str)+"/"+CD.day.map(str)+" "+CD.hour.map(str)+":00"
CD['Time'] = pd.to_datetime(CD['Time'], format='%Y/%m/%d %H:00')
CD.drop(['No','year', 'month','day','hour','season'], axis=1, inplace=True)
CD.rename(columns={'PM_Caotangsi':'PM_measurepoint1','PM_Shahepu':'PM_measurepoint2','PM_US Post':'PM_measurepoint3'}, inplace=True)
CD.tail(5)

,PM_measurepoint1,PM_measurepoint2,PM_measurepoint3,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec,Season,City,Time
52579,176.0,225.0,262.0,7.0,87.28,1027.0,9.0,NW,2.0,0.0,0.0,Winter,Chengdu,2015-12-31 19:00:00
52580,146.0,181.0,218.0,7.0,87.28,1028.0,9.0,NW,4.0,0.0,0.0,Winter,Chengdu,2015-12-31 20:00:00
52581,162.0,175.0,213.0,7.0,87.28,1028.0,9.0,cv,1.0,0.0,0.0,Winter,Chengdu,2015-12-31 21:00:00
52582,169.0,192.0,236.0,7.0,93.40,1028.0,8.0,NW,2.0,0.0,0.0,Winter,Chengdu,2015-12-31 22:00:00
52583,NaN,NaN,249.0,7.0,93.40,1028.0,8.0,NW,4.0,0.0,0.0,Winter,Chengdu,2015-12-31 23:00:00

##### Combine Files

In [29]:
df_final = pd.concat([BJ,SH,SY,GZ,CD])
df_final['No'] = range(1, len(df_final) + 1)
df_final= df_final.fillna("Null")
df_final.head()

,PM_measurepoint2,PM_measurepoint3,PM_measurepoint1,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec,Season,City,Time,No
0,Null,Null,Null,-21,43,1021,-11,NW,1.79,0,0,Winter,Beijing,2010-01-01 00:00:00,1
1,Null,Null,Null,-21,47,1020,-12,NW,4.92,0,0,Winter,Beijing,2010-01-01 01:00:00,2
2,Null,Null,Null,-21,43,1019,-11,NW,6.71,0,0,Winter,Beijing,2010-01-01 02:00:00,3
3,Null,Null,Null,-21,55,1019,-14,NW,9.84,0,0,Winter,Beijing,2010-01-01 03:00:00,4
4,Null,Null,Null,-20,51,1018,-12,NW,12.97,0,0,Winter,Beijing,2010-01-01 04:00:00,5

In [200]:
#df_final['PM_measurepoint1'] = df_final['PM_measurepoint1'].fillna(0.001) 
#df_final['PM_measurepoint2'] = df_final['PM_measurepoint2'].fillna(0.001)
#df_final['PM_measurepoint3'] = df_final['PM_measurepoint3'].fillna(0.001)
#Avergae three measure points
#df_final.insert(3, 'Averge', (df_final['PM_measurepoint1']+df_final['PM_measurepoint2']+df_final['PM_measurepoint3'])/3)

In [30]:
# def average to calculate average pm measurement
def average (row):
    if row['PM_measurepoint1']=="Null" and row['PM_measurepoint2']=="Null" and row['PM_measurepoint3']=="Null":
        return 'Null'
    
    elif row['PM_measurepoint1']!="Null" and row['PM_measurepoint2']=="Null" and row['PM_measurepoint3']=="Null":
        return row['PM_measurepoint1']
    elif row['PM_measurepoint2']!="Null" and row['PM_measurepoint1']=="Null" and row['PM_measurepoint3']=="Null":
        return row['PM_measurepoint2']
    elif row['PM_measurepoint3']!="Null" and row['PM_measurepoint1']=="Null" and row['PM_measurepoint2']=="Null":
        return row['PM_measurepoint3']
    
    elif row['PM_measurepoint1']!="Null" and row['PM_measurepoint2']!="Null" and row['PM_measurepoint3']=="Null":
        return (row['PM_measurepoint1']+row['PM_measurepoint2'])/2
    elif row['PM_measurepoint1']!="Null" and row['PM_measurepoint2']=="Null" and row['PM_measurepoint3']!="Null":
        return (row['PM_measurepoint1']+row['PM_measurepoint3'])/2
    elif row['PM_measurepoint2']!="Null" and row['PM_measurepoint3']!="Null" and row['PM_measurepoint1']=="Null":
        return (row['PM_measurepoint2']+row['PM_measurepoint3'])/2
    
    else:
        return (row['PM_measurepoint1']+row['PM_measurepoint2']+row['PM_measurepoint3'])/3

In [31]:
df_final['Average'] = df_final.apply (lambda row: average(row), axis=1)

In [32]:
df_final.iloc[52582:52587]

,PM_measurepoint2,PM_measurepoint3,PM_measurepoint1,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec,Season,City,Time,No,Average
52582,242,221,212,-10,73,1030,-6,NE,1.78,0,0,Winter,Beijing,2015-12-31 22:00:00,52583,225
52583,Null,Null,235,-9,79,1029,-6,NE,2.67,0,0,Winter,Beijing,2015-12-31 23:00:00,52584,235
0,Null,Null,Null,-6,59.48,1026.1,1,cv,1,0,0,Winter,Shanghai,2010-01-01 00:00:00,52585,Null
1,Null,Null,Null,-6,59.48,1025.1,1,SE,2,0,0,Winter,Shanghai,2010-01-01 01:00:00,52586,Null
2,Null,Null,Null,-7,59.21,1025.1,0,SE,4,0,0,Winter,Shanghai,2010-01-01 02:00:00,52587,Null

In [35]:
cols = df_final.columns.tolist()
cols

['PM_measurepoint2',
 'PM_measurepoint3',
 'PM_measurepoint1',
 'DEWP',
 'HUMI',
 'PRES',
 'TEMP',
 'cbwd',
 'Iws',
 'precipitation',
 'Iprec',
 'Season',
 'City',
 'Time',
 'No',
 'Average']

In [39]:
# Adjust column orders
df_final = df_final[['No','Time','Season','PM_measurepoint1','PM_measurepoint2','PM_measurepoint3','Average','DEWP','HUMI','PRES','TEMP','cbwd','Iws','precipitation','Iprec','City']]

In [40]:
# save file
df_final.to_csv( 'PM2.5_China5cities.csv', index=False, encoding='utf-8-sig')

In [116]:
# import csv

# def add_column_End(filename,columnheader,values):
#     with open(filename+'.csv','r') as csvinput:
#         with open('new'+filename+'.csv', 'w') as csvoutput:
#             writer = csv.writer(csvoutput, lineterminator='\n')
#             reader = csv.reader(csvinput)

#             all = []
#             row = next(reader)
#             row.append(columnheader)
#             all.append(row)

#             for row in reader:
#                 row.append(values)
#                 all.append(row)

#             writer.writerows(all)
            
# def rename(filename):
#     renamed_df=df.rename(columns={'Custom field (Implemented Date)':'Custom field (Verified Date)'})
#     renamed_df=to_csv("C:/JIRA Excel File/Done.csv", index=None)z

In [35]:
# add_column_End('BeijingPM20100101_20151231','Cities',"Beijing")
# add_column_End('ChengduPM20100101_20151231','Cities',"Chengdu")
# add_column_End('GuangzhouPM20100101_20151231','Cities',"Guangzhou")
# add_column_End('ShanghaiPM20100101_20151231','Cities',"Shanghai")
# add_column_End('ShenyangPM20100101_20151231','Cities',"Shenyang")

In [36]:
# import os
# import glob
# import pandas as pd

# extension = 'csv'
# front='new'
# all_filenames = [i for i in glob.glob('{}*.{}'.format(front,extension))]
# #combine all files in the list
# combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
# #export to csv
# combined_csv.to_csv( "combinedPM2.5.csv", index=False, encoding='utf-8-sig')